*.tfstate
.DS_Store
.terraform*
.decrypted~*
.env

# Helm chart artifacts
charts/**/charts/
Chart.lock

# Generated/rendered templates
**/manualGeneratedTemplate.yaml
**/renderedTemplate.yaml
**/output.yaml
