{{- $namespace := include "kgateway-platform.namespace" . -}}
{{- $fullname := include "kgateway-platform.fullname" . -}}
{{- if .Values.gateways.public.enabled -}}
{{- $cfg := .Values.gateways.public -}}
{{- $name := default (printf "%s-public" $fullname) $cfg.name -}}
{{- $ipSlot := default "public" $cfg.ipSlot }}
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayParameters
metadata:
  name: {{ printf "%s-params" $name }}
  namespace: {{ $namespace }}
spec:
  kube:
    service:
      extraLabels:
        ip-slot: {{ $ipSlot | quote }}
{{- end -}}
{{- if .Values.gateways.private.enabled -}}
{{- $cfg := .Values.gateways.private -}}
{{- $name := default (printf "%s-private" $fullname) $cfg.name -}}
{{- $ipSlot := default "private" $cfg.ipSlot }}
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayParameters
metadata:
  name: {{ printf "%s-params" $name }}
  namespace: {{ $namespace }}
spec:
  kube:
    service:
      extraLabels:
        ip-slot: {{ $ipSlot | quote }}
{{- end }}