{{- if and .Values.httpListenerPolicy.enabled .Values.gateways.public.enabled }}
{{- $gateways := include "kgateway-platform.gateways" . | fromYaml -}}
{{- $namespace := include "common.helpers.namespace" . -}}
{{- $public := (first (where $gateways "key" "public")) -}}
{{- if $public }}
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: HTTPListenerPolicy
metadata:
  name: {{ default (printf "%s-websocket-upgrade" $public.name) .Values.httpListenerPolicy.name }}
  namespace: {{ $namespace }}
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: {{ $public.name }}
      namespace: {{ $namespace }}
  upgradeConfig:
    enabledUpgrades:
{{- range $upgrade := .Values.httpListenerPolicy.enabledUpgrades }}
      - {{ $upgrade | quote }}
{{- end }}
{{- end }}
{{- end }}