{{- $namespace := include "common.helpers.namespace" . -}}
{{- $fullname := include "common.helpers.fullname" . -}}
{{- if and .Values.tlsSecret.namespace (ne .Values.tlsSecret.namespace $namespace) }}
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: {{ printf "%s-allow-tls" $fullname }}
  namespace: {{ .Values.tlsSecret.namespace }}
spec:
  from:
    - group: gateway.networking.k8s.io
      kind: Gateway
      namespace: {{ $namespace }}
  to:
    - group: ""
      kind: Secret
      name: {{ required "tlsSecret.name is required" .Values.tlsSecret.name }}
{{- end }}
