gateways:
  public:
    enabled: true
    name: ""
    ipSlot: public
    # address of the public gateway. MUST be set by the chart consumer.
    address: ""
  private:
    enabled: true
    name: ""
    ipSlot: private
    # address of the private gateway. MUST be set by the chart consumer.
    address: ""

tlsSecret:
  # Name of the TLS secret to use for gateways. MUST be set by the chart consumer.
  name: ""
  # Namespace where the TLS secret is located. MUST be set by the chart consumer.
  namespace: ""

httpListenerPolicy:
  enabled: true
  name: ""
  enabledUpgrades:
    - websocket
