{{- $namespace := include "kgateway-routing.namespace" . -}}
{{- $generatedBackends := dict -}}

{{- /* Helper function to add metadata to backend spec */ -}}
{{- define "kgateway-routing.addBackendMetadata" -}}
  {{- $spec := index . 0 -}}
  {{- $backend := index . 1 -}}
  {{- if $backend.labels }}
    {{- $_ := set $spec "labels" $backend.labels }}
  {{- end }}
  {{- if $backend.annotations }}
    {{- $_ := set $spec "annotations" $backend.annotations }}
  {{- end }}
{{- end }}

{{- /* Collect all backends from routes */ -}}
{{- range $routeKey, $routeCfg := .Values.routes }}
  {{- if $routeCfg.enabled }}
    {{- /* outCluster backends */ -}}
    {{- range $backend := $routeCfg.outCluster }}
      {{- $backendName := printf "%s-%s-backend" $routeKey $backend.name }}
      {{- $backendNamespace := default $namespace (default $routeCfg.namespace $backend.namespace) }}
      {{- $backendSpec := dict "type" "Static" "namespace" $backendNamespace "static" (dict "hosts" (list (dict "host" $backend.host "port" $backend.port))) }}
      {{- template "kgateway-routing.addBackendMetadata" (list $backendSpec $backend) }}
      {{- $_ := set $generatedBackends $backendName $backendSpec }}
    {{- end }}
    {{- /* inCluster backends with TLS */ -}}
    {{- range $backend := $routeCfg.inCluster }}
      {{- if $backend.tls }}
        {{- $backendName := printf "%s-%s-backend" $routeKey $backend.name }}
        {{- $backendNamespace := default $namespace (default $routeCfg.namespace $backend.namespace) }}
        {{- $backendSpec := dict "type" "Kube" "namespace" $backendNamespace "kube" (dict "serviceName" $backend.name "serviceNamespace" $backendNamespace "port" $backend.port) }}
        {{- template "kgateway-routing.addBackendMetadata" (list $backendSpec $backend) }}
        {{- $_ := set $generatedBackends $backendName $backendSpec }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- /* Render generated backends from routes.outCluster */ -}}
{{- $backendKeys := keys $generatedBackends | sortAlpha -}}
{{- range $backendName := $backendKeys }}
  {{- $cfg := index $generatedBackends $backendName }}
  {{- $backendNamespace := default $namespace $cfg.namespace }}
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: Backend
metadata:
  name: {{ $backendName }}
  namespace: {{ $backendNamespace }}
  {{- with $cfg.labels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $cfg.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ required (printf "inline backend type is required for %s" $backendName) $cfg.type }}
  {{- if eq $cfg.type "Static" }}
    {{- if $cfg.static }}
  static:
      {{- if $cfg.static.hosts }}
    hosts:
        {{- range $cfg.static.hosts }}
      - host: {{ required "backend static host is required" .host }}
        port: {{ required "backend static port is required" .port }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- if eq $cfg.type "Kube" }}
    {{- if $cfg.kube }}
  kube:
      {{- if $cfg.kube.serviceName }}
    serviceName: {{ $cfg.kube.serviceName }}
      {{- end }}
      {{- if $cfg.kube.serviceNamespace }}
    serviceNamespace: {{ $cfg.kube.serviceNamespace }}
      {{- end }}
      {{- if $cfg.kube.port }}
    port: {{ $cfg.kube.port }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
