name: KICS Scan

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  kics:
    name: Kics Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1
      - name: run kics Scan
        uses: checkmarx/kics-github-action@d1b692d84c536f4e8696954ce7aab6818f95f5bc # v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: "."
          ignore_on_exit: results
          enable_annotations: true
          enable_comments: true
          enable_jobs_summary: true
          comments_with_queries: true
          output_path: ./results
          output_formats: json
      - name: Display results
        run: |
          cat ./results/results.json
